
* {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
body {
    font-size: 20px;
}
/*header style*/
.header-wrapper {
    background-color: black;
    color: white;
    font-weight: 200;
    font-size: 0.75em;
}
.header-wrapper ul{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.internal-wrapper {
    width: 980px;
    padding: 0 10px;
    margin: 0 auto;
}
.header-wrapper .header-links-wrapper ul li a {
    text-decoration: none;
    color: white;
}
.header-wrapper .header-links-wrapper ul li {
    display: inline-block;
    padding: 14px 0 8px;
    height: 25px;
    opacity: 0.8;
}
.header-wrapper ul {
    list-style: none;
}
.header-wrapper .header-links-wrapper ul li:hover {
    opacity: 1;
}
.logo-link, .search-link, .cart-link {
    width: 18px;
    display: block;
}
.header-wrapper .header-links-wrapper ul li .logo-link {
    padding: 12px 0 10px;
}
.header-wrapper .header-links-wrapper ul li.search-link {
    padding: 14px 0 8px;
}
.header-wrapper .header-links-wrapper ul li.cart-link {
    padding: 12px 0 10px;
}
/*main section*/
.main-highlight-wrapper {
    background: #fafafa;
    text-align: center;
    padding: 25px 0;
}
.links-wrapper ul {
    list-style: none;
}
.model {
    font-size: 1em;
}
.product-title {
    font-size: 56px;
    font-weight: 700;
}
.brief-decripition  {
    font-size: 2em;
}
.links-wrapper {
    padding: 15px 0;
}
.links-wrapper ul li{
    display: inline-block;
    padding-right: 20px;
}
.links-wrapper ul li a {
    color: #06c;
    text-decoration: none;
}
.links-wrapper ul li a:hover {
    color: #000;
}
.links-wrapper ul li a:after {
    font-family: fontawesome;
    font-weight: 900;
}
/*second section*/
.second-hightlight-wrapper {
    background-image: url("../images/home/iphone11-pro-bg.jpg");
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 65px 20px;
    color: #fff;
}
.title-wrapper {
    font-weight: 600;
    font-size: 56px;
}
.description-wrapper {
    font-size: 28px;
    padding: 10px 0;
}
.price-wrapper {
    color: #86868b;
    font-size: o.85em;
}
/* third section */
.third-hightlight-wrapper {
    background-image: url("../images/home/iphone11-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 580px;
}
/* fourth section starts here */
.fourth-heghlight-wrapper {
    display: flex;
    justify-content: space-between;
    background: #fff;
}
.fourth-heghlight-wrapper .left-side-wrapper {
    background-image: url("../images/home/watch-series-5.jpg");
}
.left-side-wrapper {
	height: 580px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	width: 48%;
	margin: 1% 0.5% 0% 1%;
	padding-top: 54px;
}
.fourth-heghlight-wrapper .right-side-wrapper {
    background-image: url("../images/home/apple-card.jpg");
}
.right-side-wrapper {
    height: 580px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	width: 48%;
	margin: 1% 0.5% 0% 1%; 
	padding-top: 54px;
}
/* fivth section starts here */
.fifth-highlight-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
.fifth-highlight-wrapper .left-side-wrapper {
    background-image: url("../images/home/apple-tv-background.jpg");
}
.fifth-highlight-wrapper .right-side-wrapper {
    background-image: url("../images/home/air-pods.jpg");
    background-size: initial;
    background-color: #000;
    background-position: bottom;
    color: #fff;
} 
.logo-wrapper {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 10px;
    
}
.tvshow-logo-wraper {
	padding: 180px 0 200px;
}
.watch-more-wrapper a {
	text-decoration: none;
	font-size: 0.85em;
}
/* sixth section starts here */
.sixth-highlight-wrapper {
	display: flex;
  justify-content: space-between;
  background: #fff;
}
.sixth-highlight-wrapper .left-side-wrapper {
	background-image:  url("../images/home/macbook-pro.jpg"); 
	background-size: initial;
	background-color: #fafafa;
	background-position: bottom;
}
.sixth-highlight-wrapper .right-side-wrapper {
	background-image:  url("../images/home/new-ipad.jpg"); 
}
.product-title-small {
	font-weight: 700;
	font-size: 45px;
}
/*footer section starts here*/
.footer-wrapper {
    background-color: #f5f5f7;
    color: #1d1d1f;
    font-size: .65em;
}
.upper-text-container {
  border-bottom: 1px solid #d2d2d7; 
  color: #86868b; 
  padding: 17px 0 20px;
}
.footer-links-wrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 20px ;
}
.upper-text-container a {
    text-decoration: none;
    color: #515154;
}
.upper-text-container a:hover {
    text-decoration: underline;
}
.footer-wrapper ul {
    padding-bottom: 20px;
    
}
.footer-wrapper ul li {
    padding: 5px;
    font-size: 0.9em;

}

.footer-links-wrapper a{
    color: #515154;
    text-decoration: none;
}
.footer-links-wrapper a:hover {
    text-decoration: underline;
}
.footer-links-wrapper h3 {
    font-size: 15px;
}
.footer-links-wrapper li {
    list-style: none;
    padding-bottom: 15px;
    font-size: medium;
}
.my-apple-wrapper {
    border-bottom: 1px solid #d2d2d7;
    padding-bottom: 1opx;
    margin-bottom: 10px;
}
.my-apple-wrapper a {
    text-decoration: none;
    color: #515154;
    text-decoration: underline;
}
.copyright-wrapper {
    display: flex;
    -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 10px 0 20px;
}
.footer-links-terms ul li{
    display: inline-block;
    padding: o 5px;
    border-right: 3px solid #ccc ;
}
.footer-links-terms ul li:last-child {
    border-right: 0px;
}
.footer-links-terms ul li a {
    text-decoration: none;
    color: #515154;
}
.footer-links-terms ul li a:hover {
    text-decoration: underline;
}
.footer-country {
    display: inline-block;
}
.flag-wrapper {
    display: inline-block;
    vertical-align: middle;
}
.footer-country-name {
    display: inline-block;
    vertical-align: top;
}








